# output files 

out/*

# Documentation
docs/*
!docs/Doxyfile.in
!docs/GenerateDocumentation.sh

# useless folders
build/
Debug/

#Executables
executables/*
!executables/RunAll.sh

#Demo 
data/Phase_Shifts/*
!data/Phase_Shifts/PS_Bell1984_Ar_e-.csv
!data/Phase_Shifts/PS_Gibson1996_Ar_e-.csv

data/Partition_Functions/*
!data/Partition_Functions/.gitkeep

data/Collision_Integrals/*
!data/Collision_Integrals/Q4th_Ar_Ar.txt
!data/Collision_Integrals/Q4th_Ar_H.txt
!data/Collision_Integrals/Q4th_Ar_H+.txt
!data/Collision_Integrals/Q4th_Ar_e-.txt
!data/Collision_Integrals/Q4th_Ar+_H.txt
!data/Collision_Integrals/Q4th_Ar_Ar+.txt
!data/Collision_Integrals/Q4th_Ar_Ar+2.txt
!data/Collision_Integrals/Q4th_Ar_e-.txt
!data/Collision_Integrals/Q4th_H2_H2.txt
!data/Collision_Integrals/Q4th_H_H.txt
!data/Collision_Integrals/Q4th_H_H+.txt
!data/Collision_Integrals/Q4th_H_e-.txt
!data/Collision_Integrals/Q4th_H_H2.txt

data/Differential_Cross_Sections/*
!data/Differential_Cross_Sections/DCS_Ar_e-.csv
!data/Differential_Cross_Sections/DCS_H2_e-.csv

data/Electronic_Configurations/*

!data/Electronic_Configurations/H_ElConfig.csv
!data/Electronic_Configurations/Ar_ElConfig.csv
!data/Electronic_Configurations/Ar+_ElConfig.csv
!data/Electronic_Configurations/Ar+2_ElConfig.csv

!data/Electronic_Configurations/C_ElConfig.csv
!data/Electronic_Configurations/C+_ElConfig.csv
!data/Electronic_Configurations/C+2_ElConfig.csv

!data/Electronic_Configurations/O_ElConfig.csv
!data/Electronic_Configurations/O+_ElConfig.csv
!data/Electronic_Configurations/O+2_ElConfig.csv

data/Momentum_Transport_Cross_Section/*
!data/Momentum_Transport_Cross_Section/TCS_Ar_e-.csv
!data/Momentum_Transport_Cross_Section/TCS_H_e-.csv
!data/Momentum_Transport_Cross_Section/TCS_In_Ar+_H2.csv
!data/Momentum_Transport_Cross_Section/TCS_In_H+_H2.csv